VERSION=dev
INTERNAL_DOMAIN=do.jo
TERMINAL_WORKERS=docker.do.jo

DMC_USER=jataware
DMC_PASSWORD=jataware

BUCKET=minio.bucket
BUCKET_DIR=dmc-results

STORAGE_HOST=http://minio.do.jo:9000

DMC_DEBUG='false'
CAUSEMOS_DEBUG=false

CAUSEMOS_USER=dev
CAUSEMOS_PWD=dev
CAUSEMOS_BASE_URL=https://testmos.do.jo:8012/api/maas/model-runs
CAUSEMOS_IND_URL=http://testmos.do.jo:8012/api/maas

