AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
DATASET_STORAGE_BASE_URL=file:///datasets/
DOCKER_URL=docker.dojo-stack
DOCKER_PORT=8375
DOJO_HOST=http://api.dojo-stack
DOJO_URL=http://api.dojo-stack
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_PORT=9200
MIXMASTA_VERSION=latest
REDIS_HOST=redis.dojo-stack
REDIS_PORT=6379
DKG_URL=http://34.230.33.149:8771/api
UAZ_URL=
UAZ_THRESHOLD=0.6
UAZ_HITS=10
UVICORN_RELOAD=True
