AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
S3_ACCESS_KEY_ID=${S3_ACCESS_KEY_ID}
S3_SECRET_ACCESS_KEY=${S3_SECRET_ACCESS_KEY}
BIND_PORT=8000
CAUSEMOS_DEBUG=true
CAUSEMOS_USER=worldmodelers
CAUSEMOS_PWD=${CAUSEMOS_PWD}
CAUSEMOS_IND_URL=https://causemos.uncharted.software/api/maas
CLOUSEAU_ENDPOINT=http://cato.world-modelers:3000
CLOUSEAU_WORKERS=docker.world-modelers
DMC_URL=airflow-webserver.world-modelers
DMC_PORT=8080
DMC_USER=jataware
DMC_PASSWORD=jataware
DMC_LOCAL_DIR=/data
DMC_BUCKET=jataware-world-modelers
DOCKER_URL=docker.world-modelers
DOCKER_PORT=8375
DOCKERHUB_URL=https://hub.docker.com/v2
DOCKERHUB_USER=${DOCKERHUB_USER}
DOCKERHUB_PWD=${DOCKERHUB_PWD}
DOCKERHUB_AUTH=${DOCKERHUB_AUTH}
DOJO_HOST=http://api.world-modelers
DOJO_URL=http://api.world-modelers
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_PORT=9200
MIXMASTA_VERSION=latest
REDIS_HOST=redis.world-modelers
REDIS_PORT=6379
SHORTHAND_URL=http://shorthand-app.world-modelers
SPACETAG_URL=http://app.world-modelers:8000
UAZ_URL=http://linking.cs.arizona.edu/v1
UAZ_THRESHOLD=0.6
UAZ_HITS=10
UVICORN_RELOAD=True
