AWS_ACCESS_KEY_ID=miniouser
AWS_SECRET_ACCESS_KEY=miniopass
BUCKET=jataware-world-modelers-dev
BIND_PORT=8000
CAUSEMOS_DEBUG=true
CAUSEMOS_USER=worldmodelers
CAUSEMOS_PWD=${CAUSEMOS_PWD}
CAUSEMOS_IND_URL=http://testmos:8012/api/maas #/api/mass emulates uncharted endpoint, not strictly needed.
#CAUSEMOS_IND_URL=https://causemos.uncharted.software/api/maas
CAUSEMOS_UI_URL=https://causemos.uncharted.software
DMC_URL=airflow-webserver.dojo-stack
DMC_PORT=8080
DMC_USER=jataware
DMC_PASSWORD=jataware
DMC_LOCAL_DIR=/data
DMC_BUCKET=jataware-world-modelers-dev
DOCKER_URL=docker.dojo-stack
DOCKER_URL=docker.world-modelers
DOCKER_PORT=8375
DOCKERHUB_AUTH=${DOCKERHUB_AUTH}
DOCKERHUB_URL=https://hub.docker.com/v2
DOCKERHUB_USER=${DOCKERHUB_USER}
DOCKERHUB_PWD=${DOCKERHUB_PWD}
DOCKERHUB_EMAIL=${DOCKERHUB_EMAIL}
DOJO_HOST=http://api.dojo-stack
DOJO_URL=http://api.dojo-stack
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_PORT=9200
ELWOOD_VERSION=stable
REDIS_HOST=redis.dojo-stack
REDIS_PORT=6379
# Comment out or remove the STORAGE_HOST setting to use S3
STORAGE_HOST=http://minio.dojo-stack:9000
TERMINAL_ENDPOINT=http://terminal.dojo-stack:3000
TERMINAL_WORKERS=docker.dojo-stack
UAZ_URL=http://linking.cs.arizona.edu/v1
UAZ_THRESHOLD=0.6
UAZ_HITS=10
UVICORN_RELOAD=True
#DATASET_STORAGE_BASE_URL=s3://jataware-world-modelers-dev/datasets/
#DOCUMENT_STORAGE_BASE_URL=s3://jataware-world-modelers-dev/documents/
CONFIG_STORAGE_BASE=s3://dojo/configs/
DATASET_STORAGE_BASE_URL=s3://datasets/
DOCUMENT_STORAGE_BASE_URL=s3://documents/
DISABLE_SEMANTIC_HIGHLIGHT=false
OPENAI_API_KEY=VALUE_HERE
OCR_URL=http://VALUE_HERE
PLUGINS={"causemos":"src.plugins.causemos.CausemosPlugin","logger":"src.plugins.logging.LoggingPlugin", "sync":"src.plugins.sync.SyncPlugin"}
