


body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    min-height: 100vh;
}
#app {
    min-height: 100vh;
}

.terminal-container {
    min-height: 90vh;
    margin: 0 auto;
    padding: 2px;
}

.terminal {
    background-color: #111;
    height: 100%;
    color: #fafafa;
}


.history-items {
    background-color: #f0f0f0;
    color: #000;

}

.filesystem {
    background-color: #000;
    color: #fff;
}
.filesystem-item {
    margin: 0;
    padding: 0;
}
