
.react-flow__panel.center {
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

.sidebar {
  width: 100%;
  margin: auto;

  section {

    flex: 1;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;

    .dndnode {
      max-width: 200px;
      background: white;
      cursor: grab;
    }
  }
}


.sidebar .dndnode.input {
  font-size: 10px;
  padding: 0 3.5rem;
}
