.container {
  display: grid;
/*  background-color: #eee;*/

  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

.logo {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;

  background-repeat: no-repeat;
}









/* TODO: ensure none of these styles are spreading globally */
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "main"
      "main"
      "main"
      "aside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  aside {
    margin: 0;
    .MuiFormGroup-root {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
