/*
  The only styles in this file are those tapping into react-flow internals
  Everything else is defined in makeStyles in each file
*/

.react-flow__node-save, .react-flow__node-load,
.react-flow__node-sum, .react-flow__node-multiply,
.react-flow__node-filter_by_country, .react-flow__node-threshold
{
  font-size: 10px;
  width: 180px;
  background: #f5f5f6;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
  border: 1px solid #f5f5f6;
  &.selected {
    border-color: #BBB;
  }
}

.react-flow__node-sum,
.react-flow__node-load,
.react-flow__node-save, {
  width: 16rem;
}

.react-flow__node-filter_by_country, {
  width: 20rem;
}
