.updatenode__controls {
  background: white;
  font-size: 12px;
  border: 1px solid darkgray;
  border-radius: 4px;
  text-align: left;
  padding: 1rem;
}

.updatenode__controls label {
  display: block;
}

.updatenode__checkboxwrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
