boto3==1.24.8
elasticsearch==7.12.0
cartopy==0.21.1
cartwright==0.0.3
h5netcdf==1.0.1
numpy==1.22
netCDF4==1.5.3
matplotlib==3.5.2
setuptools==57.5.0
GDAL==3.2.2
elwood==0.1.4
pandas==1.5.3
python-dateutil==2.8.2
raster2xyz==0.1.3
requests==2.28.1
rq==1.11.0
scipy==1.9.3
# torchvision==0.16.1  # Imported in unused anomaly detection
tqdm==4.64.0
xarray==0.19.0
h5py==2.10.0
rasterio<1.3
urllib3<2
flowcast>=0.5.1